.customers__say{

    width: 100%;
   
    background-image: url(../images/bg/mob/rectangle-b-mob-x1.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    @include tablet{
        
    background-image: url(../images/bg/tablet/rectangle-b-tablet-x1.png);
    }

    @include desktop{
        background-image: url(../images/bg/desktop/rectangle-b-desktop-x1.png);
        background-size: 100% 100%;
        // padding: 100px;
    }
}

.container__customers{

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;

    margin-left: auto;
    margin-right: auto;
    padding: 60px  15px;

    @include mobile{
        width: 480px;
    }

    @include tablet{

        padding: 60px 32px 120px 32px;
        width: 768px;
        display: block;
    }

    @include desktop{
        width: 1280px;
        // height: 647px;
    }
}

.customers__title{
    width: 280px;

    margin-bottom: 20px;

    @include tablet{
        width: 501px;
        font-size: 42px;
        line-height: 1.16;
    }
      
}

.customers__text{
    width: 280px;

  margin-bottom: 32px;

  @include tablet{
    width: 395px;
    font-size: 16px;
    line-height: 1.18;
  }
}


.customers__set{
  @include tablet{
    display: flex;
  }
}


.customers__item{
  background-color: #fff;
  width: 280px;
  margin-bottom: 24px;
  padding: 8px;
  border-radius: 0px 30px 30px 30px;;
  border-top-left-radius: 0%;

    @include tablet{
      width: 336px;
        margin-right: 32px;
    }

    @include desktop{
      width: 501px;
      margin-right: 139px;
    } 
}

.customers__item:last-child{
  margin-right: 0;
}

.customers__list{
  gap: 4px;
    display: flex;
}

.customers__star{
  margin-bottom: 28px;
}

.customers__comment{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
}

.customers__account{
    margin-top: 44px;
    display: flex;
    min-width: 137px;
    align-items: center;
    
}

.customers__initials{
    padding-left: 16px;
    padding-right: 18px;
    border-right: 0.854167px solid #7EB101;
}

.customers__foto{
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.customers__name{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.customers__dude{
    font-size: 14px;
    line-height: 1.5;
}



.banan-decorative{
  width: 281px;
  position: absolute;
  top: -48;

  @include tablet{
    width: 409px;
    left: 387px;
    top: -60px;
  }

  @include desktop{
    width: 780px;
  }
}