// .favorites__list {
//   display: flex;
//   flex-wrap: wrap;
// }

.favorites__link {
  display: block;
  border-radius: 50%;
  border: 11px solid #ffe550;
  width: 280px;
  height: 280px;
}

// .favorites__image {}
