.favorites {
  padding-top: 60px;
  padding-bottom: 60px;
}

.favorites__label {
  margin-bottom: 60px;
}

.favorites__heading {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 20px;

  // @include tablet {
  //   font-size: 42px;
  //   line-height: 1.16;
  // }
}

.favorites__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

.favorites__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  // @include tablet {
  //   flex-wrap: wrap;
  //   flex-direction: row;
  //   justify-content: center;
  // }
}

// .favorites__item {
//   @include tablet {
//     flex-basis: calc((100% - 32px) / 2);
//   }
// }

.favorites__item--hide {
  display: none;

  // @include tablet {
  //   display: block;
  // }
}

.favorites__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 140px;
  border: 11px solid $yellow;
  width: 280px;
  height: 282px;

  @include tablet {
    border-radius: 168px;
    width: 336px;
    height: 338px;
  }
}

.favorites__image {
  width: 222px;
  height: 222px;

  // @include tablet {
  //   width: 268px;
  //   height: 268px;
  // }
}
