.subscribe__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.21;
    color: $black;
    width: 280px;
}

.subscribe__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2C2C2C
}