.subscribe-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 52px 15px 60px 15px;

  @include tablet {
    padding: 82px 15px 100px 15px;
  }

  @include desktop {
    max-width: 1280px;
    width: 100%;
    padding-top: 0;
  }
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    justify-content: flex-start;
  }

  @include desktop {
    width: 100%;
    margin-left: 0;
  }
}

.subscribe__title {
  width: 280px;
  margin-bottom: 20px;

  @include tablet {
    width: 100%;
    font-size: 42px;
    line-height: 1.19;
  }

  @include desktop {
    max-width: 656px;
  }
}

.subscribe__text {
  color: $solid-black;
  width: 280px;
  margin-bottom: 40px;

  @include tablet {
    width: 100%;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }

  @include desktop {
    max-width: 656px;
  }
}

.sub-form {
  flex-wrap: wrap;
  justify-content: flex-end;
  display: flex;
  width: 279px;

  @include tablet {
    justify-content: flex-start;
    display: flex;
    flex-wrap: nowrap;
  }
}

.sub-form__item {
  position: relative;

  @include tablet {
    width: 395px;
  }
}

.sub-form__input {
  padding: 12px 0 12px 12px;
  height: 42px;
  min-width: 279px;
  background-color: transparent;
  border: 0.854167px solid $yellow;
  border-radius: 30px;
  cursor: pointer;
  outline: none;

  ::placeholder {
    color: $color-input;
  }

  @include tablet {
    min-width: 395px;
  }
}

.sub-form__input:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid #FF705D;
}

.sub-form__input:not(:focus):not(:placeholder-shown):valid {
  border: 1px solid $dark-green;
}

.sub-form__input:not(:focus):not(:placeholder-shown):invalid + .error-group {
  display: block;
}

.sub-form__item .error {
  padding-left: 0;
}

.sub-form__button {
  width: 103px;
  height: 42px;
  border: none;
  margin-top: 20px;

  &:hover,
  &:focus {
    background-color: $green-hover;
  }

  @include tablet {
    margin-top: 0;
    margin-left: 15px;
  }
}

.banan-decorative {
  width: 281px;
  position: absolute;
  top: -48;
  right: 0;

  @include tablet {
    width: 409px;
    left: 387px;
    top: -60px;
  }

  @include desktop {
    width: 608px;
    top: -30px;
    left: 690px;
  }
}