body {
  font-family: 'Roboto', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: $black;
  background: $white;

}

html {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
}

@import '~node_modules/modern-normalize/modern-normalize.css';
