// Footer styles

.footer {
  margin: auto;
  padding: 60px 15px;
  background-image: url(../images/mob/fruit-futer-mob-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include retina {
    background-image: url(../images/mob/fruit-futer-mob-2x.png);
  }
}

.footer-box {
  display: flex;
}

.nav--footer {
  display: block;
  margin-left: 81px;
  margin-bottom: 40px;
}

.nav__list--footer {
  flex-direction: column;
  gap: 20px;
}

.nav__link--footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.sub-form--footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.sub-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $black;
}

.button--color {
  align-self: flex-end;
  margin: 20px 0;
  background-color: $white;
  border: 1px solid $dark-green;
  &:hover,
  &:focus {
    background-color: $yellow;
  }
}

.sub-form__policy {
  font-size: 10px;
  line-height: 1.2;
}

.sub-form__link {
  color: $dark-green;
  padding-left: 3px;
  text-decoration: underline;
}

.link-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.link-list__link {
  font-size: 10px;
  line-height: 1.2;
  text-decoration: underline;

  color: $dark-green;
}

.copyright {
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
}
