* {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
//
//:-webkit-autofill,
//:-webkit-autofill:hover,
//:-webkit-autofill:focus {
//  border: 1px solid green;
//  -webkit-text-fill-color: #000000;
//  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
//  transition: background-color 5000s ease-in-out 0s;
//}