$black: #2C2C2C;
$solid-black: #000000;
$dark-green: #7EB101;
$green: #BBF330;
$yellow: #ffe550;
$shadow:radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
$white:  #FEFEFE;
$green-hover: #B5FF00;
$dark-green-hover: #597D00;
$color-input: #505050;


  /* function */
$hover-focus-decor-func: 400ms cubic-bezier(0.4, 0, 0.2, 1);

