$black: #2C2C2C;
$solid-black: #000000;
$dark-green: #7EB101;
$green: #BBF330;
$yellow: #FFE550;
$shadow:radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
$white:  #FEFEFE;

  /* function */
$hover-focus-decor-func: 400ms cubic-bezier(0.4, 0, 0.2, 1);