<header class='header'>
  <div class=' container container-header'>
    <a class='logo' href='#hero'>
      <svg width='66' height='52'>
        <use href='./images/icons/sprite.svg#menu-logo'></use>
      </svg>
    </a>
    <button type='button' class='menu-btn' data-menu-open>
      <svg width='23' height='23' aria-label='Вмикач меню'>
        <use class='menu-btn__icon' href='./images/icons/sprite.svg#menu-icon'></use>
      </svg>
    </button>
    <div class='menu-container'>
      <div class='mob-menu is-hidden'>
        <button class='mob-menu__btn' type='button' data-menu-close>
          <svg class='mob-menu__btn-img' width='12' height='12'>
            <use href='./images/icons/sprite.svg#cross'></use>
          </svg>
        </button>
        <nav class='mob-menu-nav'>
          <ul class='mob-menu-nav__list'>
            <li class='mob-menu-nav__item' data-menu-close><a class='mob-menu-nav__link mob-menu-nav__link--current'
                                                              href='#hero'>Home</a></li>
            <li class='mob-menu-nav__item' data-menu-close><a class='mob-menu-nav__link' href='#offerings'>About</a>
            </li>
            <li class='mob-menu-nav__item' data-menu-close><a class='mob-menu-nav__link' href='#favorites'>Service</a>
            </li>
            <li class='mob-menu-nav__item'><a class='mob-menu-nav__link' href='#customers-say'>Menu</a></li>
            <li class='mob-menu-nav__item'><a class='mob-menu-nav__link' href='#subscribe'>Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <nav class='nav'>
      <ul class='nav__list'>
        <li class='nav__item' ><a class='nav__link' href='#hero' data-section='hero'>Home</a></li>
        <li class='nav__item' ><a class='nav__link' href='#offerings' data-section='offerings'>About</a></li>
        <li class='nav__item' ><a class='nav__link' href='#favorites' data-section='favorites'>Service</a></li>
        <li class='nav__item' ><a class='nav__link' href='#customers-say' data-section='customers-say'>Menu</a></li>
        <li class='nav__item'><a class='nav__link' href='#subscribe' data-section='subscribe'>Contact</a></li>
      </ul>
    </nav>
    <button class='button button--order' type='button' data-header-modal-open>Order Now</button>
  </div>
</header>