<section class="section hero">
    <div class="container">
        <h2 class="section__title section__title--hero">
            Enjoy Your Favorite Food From Anywhere
        </h2>
        <p class="section__text section__text--hero">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button class="hero__button button" type="button">Order Now</button>
    </div>
</section>