<section class="favorites container">
  <div class="favorites__label">
    <h2 class="favorites__heading">Some of Our Favorites</h2>
    <p class="favorites__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <ul class="favorites__list">
    <li class="favorites__item">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="./images/mob/gamburger-mob-x1.png x1,
            ./images/mob/gamburger-mob-x2.png x2"
          />
          <source
            srcset="./images/tablet/gamburger-tablet-x1.png x1, 
          ./images/tablet/gamburger-tablet-x2.png x2"
          />
          <source
            srcset="./images/desktop/gamburger-desktop-x1.png x1, 
          ./images/desktop/gamburger-desktop-x2.png x2"
          />
          <img
            src="./images/mob/gamburger-mob-x1.png"
            alt="Favorite gamburger"
            width="222px"
            height="222px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>

    <li class="favorites__item">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="./images/mob/pasta-mob-x1.png x1,
            ./images/mob/pasta-mob-x2.png x2"
          />
          <source
            srcset="./images/tablet/pasta-tablet-x1.png x1, 
            ./images/tablet/pasta-tablet-x1.png x2"
          />
          <source
            srcset="./images/desktop/pasta-desktop-x1.png x1,
            ./images/desktop/pasta-desktop-x2.png x2"
          />
          <img
            src="./images/mob/pasta-mob-x1.png"
            alt="Favorite pasta"
            width="222px"
            height="222px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>

    <li class="favorites__item">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="./images/mob/pizza-mob-x1.png x1,
            ./images/mob/pizza-mob-x2.png x2"
          />
          <source
            srcset="./images/tablet/pizza-tablet-x1.png x1,
            ./images/tablet/pizza-tablet-x2.png x2"
          />
          <source
            srcset="./images/desktop/pizza-desktop-x1.png x1,
            ./images/desktop/pizza-desktop-x2.png x2"
          />
          <img
            src="./images/mob/pizza-mob-x1.png"
            alt="Favorite pizza"
            width="222px"
            height="222px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>

    <!-- <li class="favorites__item favorites__item--hide">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="./images/tablet/chicken-tablet-x1.png x1,
            ./images/tablet/chicken-tablet-x2.png x2"
          />
          <source
            srcset="./images/desktop/chicken-desktop-x1.png x1,
            ./images/desktop/chicken-desktop-x2.png x2"
          />
          <img
            src="./images/tablet/chicken-tablet-x1.png"
            alt="Favorite chiken"
            width="222px"
            height="222px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>
    <li class="favorites__item favorites__item--hide">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="./images/tablet/salat-tablet-x1.png x1,
            ./images/tablet/salat-tablet-x2.png x2"
          />
          <source
            srcset="./images/desktop/salat-desktop-x1.png x1,
            ./images/desktop/salat-desktop-x2.png x2"
          />
          <img
            src="./images/tablet/salat-tablet-x1.png"
            alt="Favorite salad"
            width="222px"
            height="222px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>
    <li class="favorites__item favorites__item--hide">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="./images/tablet/borshch-tablet-x1.png x1,
            ./images/tablet/borshch-tablet-x2.png x2"
          />
          <img
            src="./images/tablet/borshch-tablet-x1.png"
            alt="Favorite borch"
            width="222px"
            height="222px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li> -->
  </ul>
</section>
