<section class="favorites container">
  <div class="anchor" id="favorites"></div>
  <div class="favorites__label">
    <h2 class="favorites__heading">Some of Our Favorites</h2>
    <p class="favorites__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <ul class="favorites__list">
    <li class="favorites__item">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="
              ./images/mob/gamburger-mob-x1.png 1x,
              ./images/mob/gamburger-mob-x2.png 2x
            "
          />
          <source
            srcset="
              ./images/tablet/gamburger-tablet-x1.png 1x,
              ./images/tablet/gamburger-tablet-x2.png 2x
            "
          />
          <source
            srcset="
              ./images/desktop/gamburger-desktop-x1.png 1x,
              ./images/desktop/gamburger-desktop-x2.png 2x
            "
          />
          <img
            src="./images/desktop/gamburger-desktop-x2.png"
            alt="Favorite gamburger"
            width="315px"
            height="315px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>

    <li class="favorites__item">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="
              ./images/mob/pasta-mob-x1.png 1x,
              ./images/mob/pasta-mob-x2.png 2x
            "
          />
          <source
            srcset="
              ./images/tablet/pasta-tablet-x1.png 1x,
              ./images/tablet/pasta-tablet-x1.png 2x
            "
          />
          <source
            srcset="
              ./images/desktop/pasta-desktop-x1.png 1x,
              ./images/desktop/pasta-desktop-x2.png 2x
            "
          />
          <img
            src="./images/desktop/pasta-desktop-x2.png"
            alt="Favorite pasta"
            width="315px"
            height="315px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>

    <li class="favorites__item">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="
              ./images/mob/pizza-mob-x1.png 1x,
              ./images/mob/pizza-mob-x2.png 2x
            "
          />
          <source
            srcset="
              ./images/tablet/pizza-tablet-x1.png 1x,
              ./images/tablet/pizza-tablet-x2.png 2x
            "
          />
          <source
            srcset="
              ./images/desktop/pizza-desktop-x1.png 1x,
              ./images/desktop/pizza-desktop-x2.png 2x
            "
          />
          <img
            src="./images/desktop/pizza-desktop-x2.png"
            alt="Favorite pizza"
            width="315px"
            height="315px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>

    <li class="favorites__item favorites__item--hide">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="
              ./images/tablet/chicken-tablet-x1.png 1x,
              ./images/tablet/chicken-tablet-x2.png 2x
            "
          />
          <source
            srcset="
              ./images/desktop/chicken-desktop-x1.png 1x,
              ./images/desktop/chicken-desktop-x2.png 2x
            "
          />
          <img
            src="./images/desktop/chicken-desktop-x2.png"
            alt="Favorite chicken"
            width="315px"
            height="315px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>

    <li class="favorites__item favorites__item--hide">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="
              ./images/tablet/salat-tablet-x1.png 1x,
              ./images/tablet/salat-tablet-x2.png 2x
            "
          />
          <source
            srcset="
              ./images/desktop/salat-desktop-x1.png 1x,
              ./images/desktop/salat-desktop-x2.png 2x
            "
          />
          <img
            src="./images/desktop/salat-desktop-x2.png"
            alt="Favorite salat"
            width="315px"
            height="315px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>
    <li class="favorites__item favorites__item--hide">
      <a href="#" class="favorites__link">
        <picture>
          <source
            srcset="
              ./images/tablet/borshch-tablet-x1.png 1x,
              ./images/tablet/borshch-tablet-x2.png 2x
            "
          />
          <source
            srcset="
              ./images/desktop/borshch-desktop-x1.png 1x,
              ./images/desktop/borshch-desktop-x2.png 2x
            "
          />
          <img
            src="./images/desktop/borshch-desktop-x2.png"
            alt="Favorite borshch"
            width="315px"
            height="315px"
            class="favorites__image"
          />
        </picture>
      </a>
    </li>
  </ul>
</section>
