<section class="customers-say container">
    <h2 class="customers-title">What our Customers Say</h2>
    <p class="customers-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="customers-review">
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <div class="customers-item">
            <li class="customers-grade">“The Best app I have used to order food in a while, so many options to choose
                from too, I would
                recommend to a freind, No questions asked”
                <div class="customers-account">
                        <img src="./images/avatar-woman-x2.png" alt="" width="48" class="customers-foto">
                        <div class="customers-initials">
                        <h3 class="customers-name">Sumith Shah</h3>
                        <p class="customers-dude">Some Dude</p>
                    </div>
                </div>
            </li>
        </div>
    </div>

    <div class="customers-review">
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <svg width="17" height="16" class="svg-star">
            <use href="./images/icons/star.svg#icon-Vector"></use>
        </svg>
        <div class="customers-item">
            <li class="customers-grade">“The ease with which I can just go in and order what i want was amazing, It has
                been a very pleasant experience ordering from this app”
                <div class="customers-account">
                    <img src="./images/avatar-man-x2.png" alt="" width="48" class="customers-foto">
                    <div class="customers-initials">
                        <h3 class="customers-name">Sumith Shah</h3>
                        <p class="customers-dude">Some Dude</p>
                    </div>
                </div>
            </li>
        </div>
    </div>

</section>