<section class="customers__say container" id='customers-say'>
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="customers__set">
    <div class="customers__item">
        <ul class="customers__assembly">
            <li> <svg width="17" height="16" class="svg__star">
                   <use href="./images/icons/star.svg#icon-Vector"></use>
               </svg></li>
           <li> <svg width="17" height="16" class="svg__star">
                   <use href="./images/icons/star.svg#icon-Vector"></use>
               </svg></li>
           <li> <svg width="17" height="16" class="svg__star">
                   <use href="./images/icons/star.svg#icon-Vector"></use>
               </svg></li>
           <li> <svg width="17" height="16" class="svg__star">
                   <use href="./images/icons/star.svg#icon-Vector"></use>
               </svg></li>
           <li> <svg width="17" height="16" class="svg__star">
                   <use href="./images/icons/star.svg#icon-Vector"></use>
               </svg></li>
           </ul>
       
        <p class="customers__comment"> “The Best app I have used to order food in a while, so many options to
            choose
            from too, I would
            recommend to a freind, No questions asked”</p>
        <div class="customers__account">
            <img src="./images/avatar-man-x2.png" alt="" width="48" class="customers__foto">
            <div class="customers__initials">
                <p class="customers__name">Sumith Shah</p>
                <p class="customers__dude">Some Dude</p>
            </div>
        </div>
    </div>


    <div class="customers__item">
        <ul class="customers__assembly">
            <li> <svg width="17" height="16" class="svg__star">
                <use href="./images/icons/star.svg#icon-Vector"></use>
            </svg></li>
        <li> <svg width="17" height="16" class="svg__star">
                <use href="./images/icons/star.svg#icon-Vector"></use>
            </svg></li>
        <li> <svg width="17" height="16" class="svg__star">
                <use href="./images/icons/star.svg#icon-Vector"></use>
            </svg></li>
        <li> <svg width="17" height="16" class="svg__star">
                <use href="./images/icons/star.svg#icon-Vector"></use>
            </svg></li>
        <li> <svg width="17" height="16" class="svg__star">
                <use href="./images/icons/star.svg#icon-Vector"></use>
            </svg></li>
        </ul>
        <p class="customers__comment"> “The Best app I have used to order food in a while, so many options to
            choose
            from too, I would
            recommend to a freind, No questions asked”</p>
        <div class="customers__account">
            <img src="./images/avatar-man-x2.png" alt="" width="48" class="customers__foto">
            <div class="customers__initials">
                <p class="customers__name">Sumith Shah</p>
                <p class="customers__dude">Some Dude</p>
            </div>
        </div>
    </div>

</div>

</section>