<section class="customers__say container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="customers__set">
    <div class="customers__item">
        <ul class="customers__list">
            <li> <svg width="17" height="16" class="customers__star">
                   <use href="./images/icons/sprite.svg#icon-star"></use>
               </svg></li>
           <li> <svg width="17" height="16" class="customers__star">
                   <use href="./images/icons/sprite.svg#icon-star"></use>
               </svg></li>
           <li> <svg width="17" height="16" class="customers__star">
                   <use href="./images/icons/sprite.svg#icon-star"></use>
               </svg></li>
           <li> <svg width="17" height="16" class="customers__star">
                   <use href="./images/icons/sprite.svg#icon-star"></use>
               </svg></li>
           <li> <svg width="17" height="16" class="customers__star">
                   <use href="./images/icons/sprite.svg#icon-star"></use>
               </svg></li>
           </ul>
       
        <p class="customers__comment"> “The Best app I have used to order food in a while, so many options to
            choose
            from too, I would
            recommend to a freind, No questions asked”</p>
        <div class="customers__account">
            <picture>
                <source srcset ="./images/avatar-man-x1.png x1, ./images/avatar-man-x2.png x2">
                <img src="./images/avatar-man-x1.png" alt="avatar-man">
                
            </picture>
    
            <div class="customers__initials">
                <p class="customers__name">Sumith Shah</p>
                <p class="customers__dude">Some Dude</p>
            </div>
        </div>
    </div>


    <div class="customers__item">
        <ul class="customers__list">
            <li> <svg width="17" height="16" class="customers__star">
                <use href="./images/icons/sprite.svg#icon-star"></use>
            </svg></li>
        <li> <svg width="17" height="16" class="customers__star">
                <use href="./images/icons/sprite.svg#icon-star"></use>
            </svg></li>
        <li> <svg width="17" height="16" class="customers__star">
                <use href="./images/icons/sprite.svg#icon-star"></use>
            </svg></li>
        <li> <svg width="17" height="16" class="customers__star">
                <use href="./images/icons/sprite.svg#icon-star"></use>
            </svg></li>
        <li> <svg width="17" height="16" class="customers__star">
                <use href="./images/icons/sprite.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="customers__comment"> “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
        <div class="customers__account">
            <picture>
                <source srcset ="./images/avatar-woman-x1.png x1, ./images/avatar-woman-x2.png x2">
                <img src="./images/avatar-woman-x1.png" alt="avatar-woman">
            </picture>
            <div class="customers__initials">
                <p class="customers__name">Sumith Shah</p>
                <p class="customers__dude">Some Dude</p>
            </div>
        </div>
    </div>

</div>

</section>