<section class="subscribe container">
  <div class="anchor" id="contacts" data-section="contacts"></div>
  <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
  <p class="subscribe__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>

  <form class="sub-form">
    <div class="sub-form__under">
      <label for="email" class="sub-form__label"></label>
      <input
        type="email"
        placeholder="Enter your email"
        name="user-email"
        id="email"
        class="sub-form__email"
      />
      <div class="error-group">
        <p class="error">Not a valid email address (example@email.com)</p>
      </div>
    </div>
    <button type="submit" class="sub-form__button">Subscribe</button>
  </form>
</section>
