<section class="subscribe">
  <div class="subscribe-container">
    <picture>
      <source srcset= './images/mob/banan-mob-x2.png 2x, ./images/mob/banan-mob-x1.png 1x'  >
      <img src="./images/mob/banan-mob-x2.png" alt="banan" class="banan-decorative">
    </picture>


    <h2 class="subscribe__title section__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text section__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
      in eros elementum tristique.</p>

    <form class="sub-form">
      <div class='sub-form__item'>
        <label class='sub-form__label' for='sub-user-email'></label>
        <input class='sub-form__input'
               type='email'
               name='e-mail'
               id='sub-user-email'
               placeholder='Enter your email'
               >
        <div class='error-group'>
          <p class='error'>Please enter a valid email address</p>
        </div>
      </div>
      <button type="submit" class="sub-form__button">Subscribe</button>
    </form>
  </div>
</section>
