<footer class='footer container'>
    <div class="footer-box">
        <svg width="69" height="51">
            <use href="./images/icons/sprite.svg#menu-logo"></use>
        </svg>
        <nav class='nav nav--footer'>
            <ul class='nav__list'>
                <li class='nav__item'><a class='nav__link' href='#hero'>Home</a></li>
                <li class='nav__item'><a class='nav__link' href='#offerings'>About</a></li>
                <li class='nav__item'><a class='nav__link' href='#favorites'>Service</a></li>
                <li class='nav__item'><a class='nav__link' href='#customers-say'>Menu</a></li>
                <li class='nav__item'><a class='nav__link' href='#subscribe'>Contact</a></li>
            </ul>
        </nav>
    </div>
    <form class="sub-form">
        <b class="sub-form__title">Subscribe</b>
        <label class="sub-form__label">
            <input type="email" name="user-email" placeholder="Enter your email" class="sub-form__email">
        </label>
        <button type="submit" class="sub-form__btn">Subscribe</button>
        <p class="sub-form__policy">By subscribing you agree to with our<a href="#" class="sub-form__link">Privacy
                Policy</a></p>
    </form>

</footer>