<footer class='footer'>
    <div class="footer-desktop">
        <div class="footer-box">
            <svg width="69" height="51">
                <use href="./images/icons/sprite.svg#menu-logo"></use>
            </svg>
            <nav class='nav nav--footer'>
                <ul class='nav__list nav__list--footer'>
                    <li class='nav__item nav__item--footer'><a class='nav__link nav__link--footer' href='#hero'>Home</a>
                    </li>
                    <li class='nav__item nav__item--footer'><a class='nav__link nav__link--footer'
                            href='#offerings'>About</a></li>
                    <li class='nav__item nav__item--footer'><a class='nav__link nav__link--footer'
                            href='#favorites'>Service</a></li>
                    <li class='nav__item nav__item--footer'><a class='nav__link nav__link--footer'
                            href='#customers-say'>Menu</a></li>
                    <li class='nav__item nav__item--footer'><a class='nav__link nav__link--footer'
                            href='#subscribe'>Contact</a></li>
                </ul>
            </nav>
        </div>
        <form class="sub-form sub-form--footer">
            <b class="sub-form__title">Subscribe</b>
            <div class="input-box">
                <label class="sub-form__label">
                    <input type="email" name="user-email" placeholder="Enter your email"
                        class="sub-form__email sub-form__email--footer">
                    <div class="error-group">
                        <p class="error">Not a valid email address (example@email.com)</p>
                    </div>
                </label>
                <button type="submit" class="button button--color">Subscribe</button>
            </div>
            <p class="sub-form__policy">By subscribing you agree to with our<a href="#" class="sub-form__link">Privacy
                    Policy</a></p>
        </form>
    </div>

    <div class="footer-box-two">
        <ul class="link-list">
            <li class="link-list__item"><a href="#" class="link-list__link">Privacy Policy</a></li>
            <li class="link-list__item"><a href="#" class="link-list__link">Terms of Service</a></li>
            <li class="link-list__item"><a href="#" class="link-list__link">Cookies Settings</a></li>
        </ul>
        <p class="copyright">2022 FoodSta. All right reserved. Powered by TeamOne</p>
    </div>
</footer>